.Dropdown {
    font-family: 'Arial', sans-serif;

    position: relative;

    display: inherit;
}
.Dropdown-Content {
    position: absolute;
    z-index: 10;
    bottom: -1px;
    left: 0;

    width: 100%;

    transform: translateY(100%);
}
.Dropdown-List {
    box-sizing: border-box;
    width: 100%;
    min-width: 266px;

    background-color: #fff;
    box-shadow: 0 4px 16px rgba(53, 73, 93, .2);
}
.Dropdown-List_minimal {
    padding: 18px 0;
}
.Dropdown-List_standard {
    position: relative;

    overflow: hidden;

    min-width: 320px;

    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    border-radius: 5px;
}
.Dropdown-List_standard::after {
    position: absolute;
    bottom: -6px;
    left: 0;

    width: 100%;
    height: 17px;

    content: '';

    background: linear-gradient(0deg, #fff 0%, transparent 100%);
}
.Dropdown-List-options {
    overflow-x: hidden;
    overflow-y: auto;

    max-height: 286px;
}
.Dropdown-Link {
    font-size: 14px;
    line-height: 20px;

    display: block;

    text-decoration: none;

    color: var(--main-black);
}
.Dropdown-Link:last-child {
    margin-bottom: 0;
}
.Dropdown-Link_minimal {
    margin-bottom: 16px;
    padding: 0 22px;
}
.Dropdown-Link_standard {
    padding: 8px 12px;
}
.Dropdown-Link_standard:hover {
    background-color: #f4f5f6;
}
.Dropdown-Link_standard:hover .Dropdown-Link-title {
    color: var(--main-black);
}
.Dropdown-Link_standard:hover .Dropdown-Link-info {
    color: #434445;
}
.Dropdown-Link_active {
    background-color: #4f4f4f;
}
.Dropdown-Link_active:hover {
    background-color: #4f4f4f;
}
.Dropdown-Link_active:hover .Dropdown-Link-title {
    color: #fff;
}
.Dropdown-Link_active:hover .Dropdown-Link-info {
    color: #fff;
}
.Dropdown-Link-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;

    margin: 0;
    margin-bottom: 2px;
    padding: 0;

    color: #434445;
}
.Dropdown-Link-title_active {
    color: #fff;
}
.Dropdown-Link-info {
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;

    margin: 0;
    padding: 0;

    color: var(--darker-grey);
}
.Dropdown-Link-info_active {
    color: #fff;
}
.Dropdown-Hr {
    height: 1px;
    margin: 4px 8px;

    border: 0;
    background-color: var(--main-grey);
}
@media (max-width: 576px) {
    .Dropdown-Content {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;

        transform: translateY(0);

        background-color: rgba(0, 0, 0, .5);
    }
    .Dropdown-List {
        position: fixed;
        bottom: 0;

        padding: 22px 0 18px 0;

        border-top: 8px solid #fff;
        border-bottom: 8px solid #fff;
        border-radius: 10px 10px 0 0;
    }
    .Dropdown-List::before {
        position: absolute;
        top: 0;
        left: 50%;

        width: 42px;
        height: 4px;

        content: '';
        transform: translateX(-50%);

        border-radius: 4px;
        background-color: var(--main-grey);
    }
    .Dropdown-List_standard {
        padding-top: 16px;
    }
    .Dropdown-Link_minimal {
        margin-bottom: 24px;
        padding: 0 16px;
    }
    .Dropdown-List-options {
        overflow-x: hidden;
        overflow-y: auto;

        max-height: 224px;
    }
    .Dropdown-List_standard::after {
        display: none;
    }
    .Dropdown-List_standard {
        max-height: 320px;
    }
}