.Container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;
}
.Container_flex {
    display: flex;
}
.Container_jc_spb {
    justify-content: space-between;
}
@media (max-width: 576px) {
    .Container {
        padding: 0 16px;
    }
}